{% extends "PlatformApp/base.html" %}
{% block content %}
<h2>Вебинарная комната</h2>
<div style="width: 600px;">
    <iframe
        style="height: 400px; width: 600px;"
        src="https://www.youtube.com/embed/UmljXZIypDc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</br>
</br>
<h2>Комментарии</h2>
<div class="content-section">
    <section class="comments">
        <article class="comment">
            <div class="comment-body">
                <div class="text">
                    <p>Здесь могли бы быть комментарии</p>
                </div>
            </div>
        </article>
    </section>
</div>
</div>
{% endblock content %}

{% block right_panel %}
<div class="list-group">
    <a class="list-group-item" href="{% url 'project-all' %}">
        Все проекты
    </a>
    <a class="list-group-item" href="{% url 'project-done' %}">
        Выполненные проекты
    </a>
    <a class="list-group-item" href="{% url 'project-mine' %}">
        Мои текущие проекты
    </a>
    <a class="list-group-item" href="{% url 'quiz_index' %}">
        Тесты
    </a>
    <a class="list-group-item" href="#">
        Mind maps
    </a>
    <a class="list-group-item active" href="{% url 'webinar-test' %}">
        Вебинары
    </a>
</div>
{% endblock right_panel %}